nav  {
  
    background-color: #3c3c3c;
    padding-bottom: 0.5px;
    margin-bottom: 0;
  
  }

#btnlogin {

    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px 24px;
    margin-left: 1%;

}

  /* Dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }

  /* Dropdown button */
  .dropbtn {
    background-color: #3498db;
    color: white;
    margin-left: 5%;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

#searchbar {

    padding: 10px 15%;
    margin-right: 2%;
    text-align: center;
    
}

#btnbook {

  margin-top: 1%;
  margin-bottom: 1%;
  padding: 10px 24px;
  margin-left: 0%;

}

  /* Style the search bar and buttons */
  #searchbarloggedin {
    margin-left: 20%;
    padding: 5px;
    width: 40%;
  }

.movie-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 500px; /* Adjust height as needed */
    overflow-y: auto;
  }

  .homeHeader {
    text-align: center;
  }
  
  
  .movie-item {
    width: 200px; /* Adjust as needed */
    margin: 10px;
    text-align: center;
  }
  
  .movie-item img {
    width: 200px; /* Set the width */
    height: 300px; /* Set the height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
  
  
  .movie-item h3 {
    margin-top: 5px;
  }
  
  /* CSS from HomeLoggedIn */

  #btnbook {

    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px 24px;
    margin-left: 15%;

}

.accountselect {

    width: 1px;

}
/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown button */
  .dropbtn {
    background-color: #3498db;
    color: white;
    margin-left: 10%;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1000;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1000;
    
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Style the search bar and buttons */
  #searchbar {
    margin-left: 20%;
    padding: 5px;
    width: 40%;
  }
  
  button:hover {
    background-color: lightgray;
  }

  /* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  top:0;
  
  z-index: 1000; /* Sit on top */
  
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

 
  max-height: 90%;
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  
  overflow: auto;
}

#popup-container {
  overflow: auto;
  display: block;
}

#popup-container > div {
  
  padding: 5px;
  
}

#popupText > div > p {
  margin: 5px;
}
#popupText > div > h2 {
  margin: 5px;
}


#popupImage img {

  vertical-align: top !important;
  height: 300px;
  
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  
.carousel-caption1 {
  top: 20%;
  left: 20%;
  margin-left: 0%;
  text-align: center;
  color: black !important;
}

.carousel-caption2 {
  top: 40%;
  margin-left: 10%;
  left: 50%;
  text-align: center;
  height: 20%;
  
}

.carousel-img {

  width: 100%;
  height: 600px;
  object-fit: cover;

}

